-require File.expand_path("../../app/youtube.rb", __FILE__)
-youtube =  YouTube.new(req["location"])
%p Titel #{youtube.title}
%p
<iframe width="560" height="315" src="#{youtube.link}" frameborder="0" allowfullscreen></iframe>
